html,

html {
  font-size: 1rem;
}


body {
  position: relative;
  font-family: Helvetica, sans-serif;
  color: #007bff;
  font-size: 16px;
  text-transform: capitalize;
}

.navbar-brand {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-style: bold;
}


.page-container {
  margin-top: 80px;
}


.pokemon-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.pokemon-list li {
  width: 100px;
  text-align: center;
  margin: 15px;
}

.pokemon-list button {
  width: 120px;
  padding: 10px;
  display: inline-block;
  text-transform: capitalize;
}


.btn { 
  background-color: blue;
  border: none;
  color: white;
  padding: 16px 32 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: #007bff;
  border: 2px solid #007bff;
}

.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom,
.btn-custom.disabled:hover,
.btn-custom[disabled]:hover,
fieldset[disabled] .btn-custom:hover,
.btn-custom.disabled:focus,
.btn-custom[disabled]:focus,
fieldset[disabled] .btn-custom:focus,
.btn-custom.disabled:active,
.btn-custom[disabled]:active,
fieldset[disabled] .btn-custom:active,
.btn-custom.disabled.active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom.active {
  background-color: rgb(255, 255, 255);
  border-color: none;
}


.modal-content {
  background-color: #f1d7ff;
  text-align: left;
}

.close {
  color:white;
}

.close:hover {
   opacity: 0.3;
}


#pokemon-modal .modal-body {
  line-height: 10px;
}

#pokemon-modal .modal-body ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
}

#pokemon-modal .modal-body li {
  width: 50%;
  display: flex;
  height: 180px;
}

#pokemon-modal img {
  max-width: 100%;
  height: auto;
}

#about-modal .modal-body {
  line-height: 30px;
}


