html, 
body {
  font-family: Helvetica, sans-serif;
}


.pokemon-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.pokemon-list li {
  width: 100px;
  text-align: center;
  margin: 15px;
}

.pokemon-list button {
  width: 120px;
  padding: 10px;
  display: inline-block;
  text-transform: capitalize;
}


.btn { 
  background-color: blue;
  border: none;
  color: white;
  padding: 16px 32 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: black;
  border: 3px solid rgb(140, 174, 255);
}

