html, 
body {
  font-family: Arial, sans-serif;
}

.pokemon-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.pokemon-list li {
  width: 100px;
  text-align: center;
  margin: 10px;
}
.pokemon-list button {
  width: 110px;
  padding: 10px;
  display: inline-block;
}

.button-class { 
  background-color: blue;
  border: none;
  color: white;
  padding: 16px 32 px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid blue;
}

